:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.App {
  text-align: center;
  font-family: "Gumela";
  caret-color: transparent;
}
input{
  caret-color: black;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (max-width: 1500px) {
  div.BattleShipContainer{
    display: block;
  }
}
@media screen and (max-width: 1350px) {
  div.mainSudoku{
    display: block;
  }
  h1.titleSudoku{
    font-size: 5vh;
  }
}
@media screen and (max-width: 700px) {
  /* homePage */
  div.HomePageDiv{
    margin-left: 3vw;
    box-shadow:blue 0px 0px 0px 2px inset, 
    rgb(255, 255, 255) 5px -5px 0px -3px, 
    rgb(31, 193, 27) 5px -5px, 
    rgb(255, 255, 255) 10px -10px 0px -3px, 
    rgb(255, 217, 19) 10px -10px, 
    rgb(255, 255, 255) 15px -15px 0px -3px,
    rgb(255, 156, 85) 15px -15px, 
    rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 85, 85) 20px -20px;
    a.btn{
      height: 20px;
      font-size: small;
      margin: 1vw;
    }
  }
  input.mainInput{
    width: 70vw;
  }
  /* end of homePage */
  /* scoreboard of head hunter */
  div.HeadHunterScoresDiv{
    table{
      margin-bottom: 20px;
    }
    
  }
  h1.headHunterScore{
    font-size: large;
  }
  /* end of scoreboard of head hunter */
  /* sudoku */
 input.sudokuInput{
  height: 7vw;
  width: 7vw;
  font-size: 7vw;

 }
 div.sudokuBoard{
  display: grid;
  grid-template-rows: repeat(9, 8vw);
  grid-template-columns: repeat(9, 8vw);
  justify-content: center;
  margin: 20px;
}
div.mainSudoku{
  margin: 4vh;
}
/* end of sudoku */
/* wordle */
input.WordleSquare{
  height: 13vw;
  width: 13vw;
  border-width: .5vw;
}
div.wordleBoard{
  display: grid;
  grid-template-rows: repeat(5, 13.5vw);
  grid-template-columns: repeat(5, 13.5vw);
  justify-content: center;
  margin-bottom: 5vh;
}
/* end of wordle */
/* battleship */
div.BattleShipBoard{
  display: grid;
  grid-template-rows: repeat(10, 7.5vw);
  grid-template-columns: repeat(10, 7.5vw);
  justify-content: center;
  margin: 10px 50px;
}
div.BattleShipSquare{
  border: 3px solid black;
  height: 7vw;
  width: 7vw;
  border-width: .5vw;
}
div.BattleShipsMainDiv{
  font-size: 2vw;
  padding: 3vw;
  a.btn{
    margin: 0 20px;
  }
}
h1.HomePageTitle{
  letter-spacing:normal;
}
/* end of battleship */
/* sixteen puzzle */
/* end of sixteen puzzle */
}
@font-face {
  font-family: "Gumela";
  src: url("https://db.onlinewebfonts.com/t/00561b492d88a5287a5def1e83a34882.eot");
  src: url("https://db.onlinewebfonts.com/t/00561b492d88a5287a5def1e83a34882.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/00561b492d88a5287a5def1e83a34882.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/00561b492d88a5287a5def1e83a34882.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/00561b492d88a5287a5def1e83a34882.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/00561b492d88a5287a5def1e83a34882.svg#Gumela")format("svg");
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* wordle */
.WordleSquare {
  border: 3px solid black;
  background-color: #ffaeae  ;
  height: 75px;
  width: 75px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gumela";
}
.wordleBoard{
  display: grid;
  grid-template-rows: repeat(5,78px);
  grid-template-columns: repeat(5,78px);
  justify-content: center;
}
/* end of wordle */

/* tictactoe */
.Square {
  border: 3px solid black;
  background-color: #ffaeae  ;
  height: 75px;
  width: 75px;
}
.Board{
  display: grid;
  grid-template-rows: repeat(3,78px);
  grid-template-columns: repeat(3,78px);
  justify-content: center;
}
table, th, td {
  border: 1px solid;
  border-radius: 10px;
}
th{
  
  height: 40px;
  font-size: larger;
  background-color: gray;
}
td{
  font-size: large;
  font-weight: bolder;
  height: 30px;
}

table {
  width: 100%;
  margin-top: 25px;
  margin-bottom:250px;
}
/* end of tictactoe */

/* battleShips */
.BattleShipContainer{
  display: flex;
  justify-content: center;
}
.BattleShipSquare {
  border: 3px solid black;
  background-color: #ffaeae  ;
  height: 50px;
  width: 50px;
}
.BattleShipBoard{
  display: grid;
  grid-template-rows: repeat(10,53px);
  grid-template-columns: repeat(10,53px);
  justify-content: center;
  margin: 20px 50px ;
}
.BattleShipSquare:hover{
  box-shadow: 10px 5px 5px rgb(169, 169, 169);
  border-radius: 25%;
  cursor: pointer;
}
.BattleShipsMainDiv{
  border: 1px black solid;
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  margin-top: 3vh;
}
/* end of battleShips */

/* sliding puzzle */
.SlidingPuzzleBoard{
  display: grid;
  grid-template-rows: repeat(4,78px);
  grid-template-columns: repeat(4,78px);
  justify-content: center;
  
}
.puzzleValues{
  font-size: 60px;
  color:rgb(0, 0, 0);
  margin: auto;
  padding: auto;
  text-align: center;
  cursor: pointer;
}
/* end of sliding puzzle */
/* Head Hunter  */
.headHunterScore{
  color:red;
  
}
.headHunterTitle{
  border: 1px black solid;
  padding: 15px;
  border-radius: 10px;
  background-color: #eca2a5;
}
.headHunterButtons{
  margin: 30px 10px;
}

.headHunterContainer{
  cursor: crosshair;
  margin: 10px 50px;
  border: 1px black solid;
  height: 70vh;
  padding: 20px;
  border-radius: 5px;
  background-color: #606164;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.headHunterNav{
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: space-between;
  margin: auto 50px;
}
.HeadHunterScoresDiv{
  border: 1px black solid;
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
}
/* end of head hunter */
/* Sudoku */
.titleSudoku{
  font-size: 15vh;
 }
.mainSudoku{
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 10vw;
  margin: 10vh 10vh 2vh;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #e8e8e8;
}
.sudokuBoard{
  display: grid;
  grid-template-rows: repeat(9,53px);
  grid-template-columns: repeat(9,53px);
  justify-content: center;
  margin: 50px;
}
.sudokuSquare{
  border: 3px solid black;
  background-color: #ffaeae  ;
  height: 50px;
  width: 50px;
}
.sudokuInput {
  font-family: "Gumela";
  border: 3px solid black;
  background-color: #ffaeae  ;
  height: 50px;
  width: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  
}
/*  end of sudoku*/
.newGame{
  width: 125px;
  height: 50px;
  margin-top: 25px;
  font-size: large;
  font-weight: bold;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.btn {
  cursor: pointer;
  color: black;
  background: white;
  border: 1px solid #767676;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 13px;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  margin-top: 1%;
  margin: 10px;
  
}
.btn:hover {
  background: rgba(70, 70, 70, 0.414);
  box-shadow: var(--shadow-3);
}
.mainInput{
  height: 40px;
  width: 40vh;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  border: #686868 2px solid;
  border-radius: 5px;
}
.mainButtons{
  display: grid;
  grid-template-columns: repeat(3,auto);
  margin-top: 25px;
}

.HomePageDiv{
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
  border: 1px black solid;
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
}
.HomePageTitle{
    letter-spacing: 2vw;
    border: 1px #535353 solid;
    border-radius: 510px;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: #d4d4d4;
}
body{
  background-image: url('../public/puzzle.png');
  background-repeat: repeat; /* Use 'no-repeat', 'repeat-x', or 'repeat-y' if needed */
  background-size: 20%; /* Set to 'contain' or specify dimensions like '100px 100px' if necessary */
  background-position: top left;
  background-color: rgba(255, 255, 255, 0.95);
  background-blend-mode: color;
}